{% extends 'index.html' %}
{% block pagetitle %}Login{% endblock %}

{% block content %}
<div class='row'>
	<div class='six columns'>
		<h3>Login</h3>
		<form action='/login/' method='post' class='custom nice'>
			{% csrf_token %}
			{% if form.errors %}
				<div class='alert-box error'>Your username and password didn't match. Please try again.</p>
			{% endif %}
			
			<label>Username</label>
			<input type="text" name="username" value="" id="username-login" class='input-text' />
			<label>Password</label>
			<input type="password" name="password" value="" id="password-login" class='input-text' />
			
			<input type="hidden" name="next" value="{{ NEXT }}" />
			
			<input type="submit" value="Login" class='white button nice radius' />
		</form>
	</div>
</div>
{% endblock %}