{% extends 'base.html' %}

{% block content %}
<h2> {{server.name}}</h2>
<h4>{{server.address}}</h4>

<p>
    <strong>Alltime Unique Players:</strong> {{server.total_players}}<br />
    <strong>Unique Players Today:</strong> {{server.today_players}}<br />
</p>
<p>
    <strong>Alltime Logins:</strong> {{server.total_sessions}}<br />
    <strong>Todays Logins:</strong> {{server.today_sessions}}
</p>

<p>
    <strong>Currently online:</strong>
    <p>
    {% for p in server.online_players %}
    <img src="http://minotar.net/avatar/{{p.username}}/16"> {{p.username}}<br />
    {% endfor %}
    </p>
</p>
{% endblock %}