{% extends 'dashboard.html' %}

{% block dashboard %}

<h3> Create Server </h3>

<form method='post' action='/server/create/' enctype="multipart/form-data">
    {% csrf_token %}
    <label>Name</label>
    <input type='text' name='name' value='{{server.name}}' maxlength="50">
        
    <label>Description</label>
    <textarea name='description' rows='5'>{{server.description}}</textarea>
    
    <label>Address/IP</label>
    <input type='text' name='address' value='{{server.address}}' placeholder='example.com'>
    
    <label>Server Port</label>
    <input type='text' name='server_port' value='{{server.server_port|default:"25565"}}'>
    
    <label>Minequery Port</label>
    <input type='text' name='query_port' value='{{server.query_port|default:"25566"}}'>
        
    <label>Server Banner</label>
    <input type='file' name='banner'>
    <p class='help-block'>Optimum size is 400x60 in gif, png, or jpg format. Max size is 500KB</p>
    
    <input type='submit' value='Save Server' class='btn btn-primary'>
</form>


{% endblock %}