{% extends 'base.html' %}

{% block content %}
<h2> {{server.name}}</h2>
<h4>{{server.address}}</h4>
<hr>
<div class="row">
    <div class="span3" style='text-align: center;'>
        {% if server.status %}<h2 style='color: #9aea5a;'>Online</h2>{% else %}<h2 style='color: red;'>Offline</h2>{% endif %}
        Status
    </div>
    <div class="span3" style="text-align: center;">
        <h2>{{server.today_players}}</h2>
        Players Today
    </div>
    <div class="span3" style="text-align: center;">
        <h2>{{server.today_sessions}}</h2>
        Logins Today
    </div>
    <div class="span3" style="text-align: center;">
        <h2>{{server.uptime}}%</h2>
        All-time Uptime
    </div>
</div>
<hr>
<div class="row">
    <div class="span3">
        <h4>Server Description</h4>
        <p>
            {{server.description|default:"No description has been entered"}}
        </p>
    </div>
    <div class="span3" style="text-align: center;">
        <h4>New vs Returning Players</h4>
        <div id="visitor_pie"></div>        
    </div>
    <div class="span6" style="text-align: center;">
        <h4>Hourly Players</h4>
        <div id="hourlyuser_chart"></div>
        <div id="weeklyuser_chart"></div>      
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>
            <strong>Currently {{server.online_count}} players online:</strong>
            <ul style="list-style: none;">
            {% for p in server.online_players %}
            <li style="width: 150px; float: left;"><img src="http://minotar.net/avatar/{{p.username}}/16" style="width: 16px; height: 16px;"> {{p.username}}</li>
            {% endfor %}
            </ul>
            </p>
        </p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var server = {{server.pk}};
$(function(){
   $.get('/stats/hourly_users/'+server+'/', function(data){
        data = $.parseJSON(data);
        graphHourlyUsers('hourlyuser_chart', data);
   });
   $.get('/stats/visitor_type/'+server+'/', function(data){
        data = $.parseJSON(data);
        graphVisitorPercentage('visitor_pie', data);
   });
});
</script>
{% endblock %}
